.movies_container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-200);
}

.movieWrapper {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.imageWrapper {
  cursor: pointer;
}

.imageWrapper:hover {
}

.movie_bio {
  display: flex;
  justify-content: space-between;
}

.movieTitle {
  font-weight: 100;
  text-transform: uppercase;
}

.movieImage {
  height: 400px;
  width: 100%;

  object-fit: cover;
}
