.genreWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.genre {
  width: fit-content !important;
  height: fit-content;
  padding: 5px 10px;

  background-color: var(--white-gray);

  border-radius: 25px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-bottom: 0px;

  cursor: pointer;

  transition: background-color 0.4s var(--ease-out-expo);
}

.genre:hover {
  background-color: var(--light-gray);
}
