.genreWrapper {
  display: flex;
  gap: 10px;
  height: fit-content;
}

.genre {
  background-color: var(--white-gray);
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-bottom: 0px;

  cursor: pointer;

  transition: background-color 0.4s var(--ease-out-expo);

  width: fit-content !important;
}

.genre:hover {
  background-color: var(--light-gray);
}
