.genreWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-100);
}

.genre {
  width: fit-content !important;
  height: fit-content;
  padding: var(--size-100) var(--size-200);

  background-color: var(--white-gray);

  border-radius: var(--size-500);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-bottom: 0px;

  cursor: pointer;

  transition: background-color 0.4s var(--ease-out-expo);
}

.canEdit:hover {
  background-color: var(--light-gray);
}
