<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/genreCheckbox.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Return</a>
    <form action="/" method="POST">
      <div>
        <label for="">Movie title</label>
        <input type="text" />

        <label for="">Released</label>
        <input type="number" />

        <div>
          <label for="">Genres</label>
          <%- include("./partials/genres") %>
        </div>

        <div>
          <label for="" id="drop-zone">
            Image
            <input type="file" id="file-input" multiple accept="image/*" />
          </label>
          <ul id="preview">
            <% if (typeof image !== "undefined" && image !== null) { %>
              <li>
                <img src=<%= image %> alt="">
              </li>
            <% } %>
          </ul>
        </div>
      </div>

      <button>Submit</button>
    </form>
  </body>
</html>
