<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/filterForm/formSlider.css">
    <link rel="stylesheet" href="/css/genreCheckbox.css">
    <link rel="stylesheet" href="/css/addMovie/dropZone.css">
    <link rel="stylesheet" href="/css/index/movieWrapper.css">
    <title>Document</title>
  </head>
  <body>
    <h1>This is the index</h1>

    <%- include("./partials/filterForm", { genres, minYear, maxYear }) %>
    <%- include("./partials/moviesWrapper") %>

    <div>
      <a href="/addMovie">+</a>
    </div>



    <div class="movies_container">
      <% if (typeof movies !== "undefined" && movies !== null && movies) { %>
        <% movies.forEach((movie) => { %>
          <div class="movieWrapper">
            <img class="movieImage" src=<%= movie.src %> alt="">
            
            <h5 class="movieTitle">
              <%- movie.title %>
            </h5>
          </div>
        <% }) %>
      <% } %>
    </div>
  </body>
  
<!-- vv Script for filterForm! vv -->
  <script defer>
    const yearMinText = document.querySelector(".yearMinText");
    const yearMaxText = document.querySelector(".yearMaxText");

    const yearMinInput = document.getElementById("fromSlider");
    const yearMaxInput = document.getElementById("toSlider");

    const minValue = +yearMinInput.dataset.min;
    const maxValue = +yearMaxInput.dataset.max;

    const initialDifVal = maxValue - minValue;
    const percentageVal = initialDifVal / 100;

    const minPos = {target: 0, current: 0};
    const maxPos = {target: 100, current: 100};
    const speed = 0.2;

    const animate = () => {
        minPos.current += (minPos.target - minPos.current) * speed;
        yearMinText.style.left = `${minPos.current}%`;
        yearMinText.style.transform = `translate(-${minPos.current * 12}%)`

        maxPos.current += (maxPos.target - maxPos.current) * speed;
        yearMaxText.style.left = `${maxPos.current}%`;
        yearMaxText.style.transform = `translate(-${maxPos.current * 12}%)`

        requestAnimationFrame(animate)
    }
    
    animate();

    yearMinInput.addEventListener("input", (e) => {
      minPos.target = +e.target.value;
      const currYear = Math.round(minValue + (percentageVal * +e.target.value));
      yearMinText.textContent = currYear;
    });

    yearMaxInput.addEventListener("input", (e) => {
        maxPos.target = +e.target.value;
        const currYear = Math.round(maxValue - ((100 - +e.target.value) * percentageVal));
        yearMaxText.textContent = currYear;
    });

    document.addEventListener("DOMContentLoaded", () => {
        minPos.target = +yearMinInput.value;
        minPos.current = minPos.target;

        maxPos.target = +yearMaxInput.value;
        maxPos.current = maxPos.target;

        const currMinYear = Math.round(minValue + (percentageVal * +minPos.current));
        const currMaxYear = Math.round(maxValue - ((100 - +maxPos.current) * percentageVal));

        yearMinText.textContent = currMinYear;
        yearMaxText.textContent = currMaxYear;
    });
  </script>
  <!-- ^^ Script for filterForm! ^^ -->

</html>
