<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/filterForm/formSlider.css">
    <link rel="stylesheet" href="/css/filterForm/genreCheckbox.css">
    <title>Document</title>
  </head>
  <body>
    <h1>This is the index</h1>

    <%- include("./partials/filterForm") %>
    <%- include("./partials/moviesWrapper", {data: "asdasd", genres}) %>
  </body>

  <script defer>
    const yearMinText = document.querySelector(".yearMinText");
    const yearMaxText = document.querySelector(".yearMaxText");

    const yearMaxInput = document.getElementById("toSlider");
    const yearMinInput = document.getElementById("fromSlider");

    const minPos = {target: 0, current: 0};
    const maxPos = {target: 0, current: 0};
    const speed = 0.2;

    const animate = () => {
        minPos.current += (minPos.target - minPos.current) * speed;
        yearMinText.style.left = `${minPos.current}%`;
        yearMinText.style.transform = `translate(-${minPos.current * 12}%)`

        maxPos.current += (maxPos.target - maxPos.current) * speed;
        yearMaxText.style.left = `${maxPos.current}%`;
        yearMaxText.style.transform = `translate(-${maxPos.current * 12}%)`

        requestAnimationFrame(animate)
    }
    
    animate();

    yearMinInput.addEventListener("input", (e) => {
        minPos.target = e.target.value;
        yearMinText.textContent = e.target.value;
    });

    yearMaxInput.addEventListener("input", (e) => {
        maxPos.target = e.target.value;
        yearMaxText.textContent = e.target.value;
    });

    document.addEventListener("DOMContentLoaded", () => {
        minPos.target = +yearMinInput.value;
        minPos.current = minPos.target;

        maxPos.target = +yearMaxInput.value;
        maxPos.current = maxPos.target;

        yearMinText.textContent = minPos.target;
        yearMaxText.textContent = maxPos.target;
    });
  </script>
</html>
