<form action="/" method="POST">
  <div>
    <label for="">Movie title</label>
    <input type="text" />

    <label for="">Released</label>
    <input type="text" />

    <div>
      <label for="" id="drop-zone">
        Image
        <input type="file" id="file-input" multiple accept="image/*" />
      </label>
      <ul id="preview"></ul>
      <button id="clear-btn">Clear</button>
    </div>
  </div>
</form>

The movies table uses the following structure: id (base this on director. If no
director mentioned, create new id. Otherwise, search for director, find key, if
no key, new id) title img year genres
