<form action="">
  <div class="sliders_control">
    <label for="year">Years range</label>
    <input type="range" name="year" id="fromSlider" />
    <input type="range" name="year" id="toSlider" />
  </div>
</form>
