<form action="">
  <div class="sliders_control">
    <label for="year">Years range</label>
    <input
      type="range"
      name="year"
      id="fromSlider"
      min="0"
      max="100"
      value="0"
    />
    <input
      type="range"
      name="year"
      id="toSlider"
      min="0"
      max="100"
      value="100"
    />
  </div>
</form>
