<div class="genres-container">
    <% if (genres) { %> 
        <% genres.forEach((genre, index) => { %>
            <input type="checkbox" id="genre-<%= index %>" class="hidden-checkbox" name="genres" value="<%= genre %>" />
            <label for="genre-<%= index %>" class="custom-label">  <%= genre %> </label>
        <% }) %>
    <% } %>
</div>