<div class="movies_container">
  <% if (typeof movies !== "undefined" && movies !== null && movies) { %>
  <% movies.forEach((movie) => { %>
  <div class="movieWrapper">
    <a class="imageWrapper" href="/movie?id=<%= movie.id %>">
      <img class="movieImage" src=<%= movie.src %> alt="">
    </a>

    <div class="movie_bio">
      <h5 class="movieTitle">
        <%- movie.title %>
      </h5>
      <%- include("./movieGenres", { genre_list: movie.genre_list }) %>
    </div>
  </div>
  <% }) %>
  <% } %>
</div>