.movies_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.movieWrapper {
  cursor: pointer;
}

.movieWrapper:hover {
}

.movieTitle {
  font-weight: 100;
  text-transform: uppercase;
}

.movieImage {
  height: 400px;
  width: 300px;

  object-fit: cover;
}
